main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex .img-container {
    height: 100%;
    width: 90%;
    margin: auto 0;
    padding: 5%;
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 30vw;
    height: auto;
    display: flex;
}

.nase-prace h2::after {   width: 5.5em;}

@media screen and (max-width: 1590px) {
    .flex { flex-direction: column; }

    .img-container img {
        width: auto;
        max-height: 40vh;
        max-width: 90%;
    }
}